<div class="footer-top-area" >
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row" ng-repeat="f in footer">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>e<span>{{f.Name}}</span></h2>
                    <p>{{f.Descrip}}</p>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">{{f.Menu}}</h2>
                    <ul>
                        <li><a href="#">{{f.MyAC}}</a></li>
                        <li><a href="#">{{f.Oh}}</a></li>
                        <li><a href="#">{{f.W}}</a></li>
                        <li><a href="#">{{f.Vc}}</a></li>
                        <li><a href="#">{{f.Fp}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">{{f.Ca}}</h2>
                    <ul>
                        <li><a href="#">{{f.MP}}</a></li>
                        <li><a href="#">{{f.Ha}}</a></li>
                        <li><a href="#">{{f.TV}}</a></li>
                        <li><a href="#">{{f.C}}</a></li>
                        <li><a href="#">{{f.G}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">{{f.News}}</h2>
                    <p>{{f.DescripN}}</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                    </div>

                    <div class="col-md-4">
                        <div class="footer-card-icon">
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 